/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 100%!important
  max-height 100%!important
  margin: 20px 0!important

.home .hero #main-title
  display: none

.home .hero .action 
  display: none

